@charset "UTF-8";
/* フッターの背景色変更 */
  .ec-footerRole {
      background-color: #9f9f9f;
      border: none;
  }
  /* フッターのタイトルフォント変更 */
.ec-footerTitle {
    font-family: 'Philosopher', sans-serif;
    color: blue;
}